:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 5px;
  margin: 0 10px;

  .element {
    height: calc(100% - 3px);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid blue;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: rgb(189, 213, 221);
    }

    &.hidden {
      &:hover {
        background-color: rgb(203, 203, 203);
      }
      border-color: lightblue;
    }
  }
}
