<div
  class="example-box"
  appFreeDragging
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [customX]="90"
  [customY]="65"
  id="Page 01"
>
  Page 01

  <div class="handle-move" appFreeDraggingHandle></div>

  <div class="handles">
    <img src="assets/minimize-screen.png" alt="drag-img" width="24" height="24" appFreeDraggingMinimize />
    <img src="assets/full-screen.svg" alt="full-screen-image" width="24" height="24" appFreeDraggingSetFullScreen/>
  </div>
  
</div>

<div
  class="example-box"
  appFreeDragging
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [startOnMiddle]="true"
  id="Page 02"
>
  Page 02
  <div class="handle-move" appFreeDraggingHandle></div>

  <div class="handles">
    <img src="assets/minimize-screen.png" alt="drag-img" width="24" height="24" appFreeDraggingMinimize />
    <img src="assets/full-screen.svg" alt="full-screen-image" width="24" height="24" appFreeDraggingSetFullScreen/>
  </div>
  
</div>

<div
  class="example-box"
  appFreeDragging
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [customX]="890"
  [customY]="750"
  id="Page 03"
>
  Page 03
  <div class="handle-move" appFreeDraggingHandle></div>

  <div class="handles">
    <img src="assets/minimize-screen.png" alt="drag-img" width="24" height="24" appFreeDraggingMinimize />
    <img src="assets/full-screen.svg" alt="full-screen-image" width="24" height="24" appFreeDraggingSetFullScreen/>
  </div>
  
</div>

<footer>
  <app-page-controls></app-page-controls>
</footer>
