<div class="boundary" *appPageCreator>

</div>

<!-- <div
  class="example-box"
  *appPageCreator="let elementReference; id: 'Page 01'"
  appFreeDragging
  [customX]="90"
  [customY]="65"
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [elementReference]="elementReference"
>
  Page 01

  <div class="handle-move" appFreeDraggingHandle></div>

  <div class="handles">
    <img
      src="assets/minimize-screen.png"
      alt="drag-img"
      width="24"
      height="24"
      appFreeDraggingMinimize
    />
    <img
      src="assets/full-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingSetFullScreen
    />
    <img
      src="assets/close-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingClose
    />
  </div>
</div>

<div
  class="example-box"
  *appPageCreator="let elementReference; id: 'Page 02'"
  appFreeDragging
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [startOnMiddle]="true"
  [elementReference]="elementReference"
>
  Page 02
  <div class="handle-move" appFreeDraggingHandle></div>

  <div class="handles">
    <img
      src="assets/minimize-screen.png"
      alt="drag-img"
      width="24"
      height="24"
      appFreeDraggingMinimize
    />
    <img
      src="assets/full-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingSetFullScreen
    />
    <img
      src="assets/close-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingClose
    />
  </div>
</div>

<div
  class="example-box"
  appFreeDragging
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [customX]="890"
  [customY]="750"
  [elementReference]="elementReference"
  *appPageCreator="let elementReference; id: 'Page 03'"
>
  Page 03
  <div class="handle-move" appFreeDraggingHandle></div>

  <div class="handles">
    <img
      src="assets/minimize-screen.png"
      alt="drag-img"
      width="24"
      height="24"
      appFreeDraggingMinimize
    />
    <img
      src="assets/full-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingSetFullScreen
    />
    <img
      src="assets/close-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingClose
    />
  </div>
</div> -->

<footer>
  <app-page-controls></app-page-controls>
</footer>
