<div
  class="example-box"
  appFreeDragging
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [customX]="90"
  [customY]="65"
  id="Page 01"
>
  Page 01

  <div class="example-handle" appFreeDraggingHandle>
    <img src="assets/move.svg" alt="drag-img" width="24" height="24" />
  </div>
  <img
    src="assets/move.svg"
    alt="full-screen-image"
    width="24"
    height="24"
    appFreeDraggingSetFullScreen
  />
</div>

<div
  class="example-box"
  appFreeDragging
  [heightDrecrease]="60"
  [baseSizes]="baseSizes"
  [startOnMiddle]="true"
  id="Page 02"
>
  Page 02

  <div class="example-handle" appFreeDraggingHandle>
    <img src="assets/move.svg" alt="drag-img" width="24" height="24" />
  </div>
  <img
    src="assets/move.svg"
    alt="full-screen-image"
    width="24"
    height="24"
    appFreeDraggingSetFullScreen
  />
</div>

<footer>
  <app-page-controls></app-page-controls>
</footer>
