<div
  appFreeDragging
  [customX]="customX"
  [customY]="customY"
  [baseSizes]="baseSizes"
  [startOnMiddle]="startOnMiddle"
  [boundaryQuery]="'main-boundary'"
  [elementReference]="elementReference"
>
  Page {{ elementReference.id }}

  <div class="handle-move" appFreeDraggingHandle></div>

  <div class="handles">
    <img
      src="assets/minimize-screen.png"
      alt="drag-img"
      width="24"
      height="24"
      appFreeDraggingMinimize
    />
    <img
      src="assets/full-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingSetFullScreen
    />
    <img
      src="assets/close-screen.svg"
      alt="full-screen-image"
      width="24"
      height="24"
      appFreeDraggingClose
    />
  </div>
</div>
